header {
  align-items: center;
  display: flex;
  height: 7rem;
  justify-content: center;
  width: 100%;
}

h1 {
  color: rgb(119, 188, 87);
  font-family: "Bebas Neue", cursive;
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  margin: 0;
}

.active {
    color: rgb(119, 188, 87);
  }
