.App {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(67, 70, 90, 1) 0%,
    rgba(68, 74, 98, 1) 25%,
    rgba(54, 62, 80, 1) 50%,
    rgba(49, 53, 72, 1) 75%,
    rgba(35, 38, 51, 1) 100%
  );
  height: 100vh;
  position: fixed;
  text-align: center;
  overflow: scroll;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 88vh;
  justify-content: center;
  width: 100%;
}

.addMusicButton {
  color: rgb(176, 236, 124);
  background: linear-gradient(
    180deg,
    rgba(118, 143, 49, 1) 0%,
    rgba(81, 113, 40, 1) 58%,
    rgba(58, 108, 37, 1) 100%
  );
  border: none;
  border-radius: 10px;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Rubik', sans-serif;
  height: 3rem;
  width: 7rem;
}
